body, html {
  height:100%;
  overflow-x: hidden;
}
body {
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
#dance-floor {
  position: relative;
  display: block;
  height: calc(100vh - 32px);
  color: white;
  z-index: -1;
  background: repeating-radial-gradient(
    circle,
    #FFFF00,
    #00FF00 10px,
    #C0C0C0 10px,
    #C0C0C0 20px
    )
}
.dancer {
  width: 20px;
  height: 20px;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
#line-up {
  cursor: pointer;
}
.topbar {
  height:32px;
  background-color: #555;
  border:1px solid green;
}
.title {
  background-color: #777;
}
.blinkyDancer {
  border:20px solid red;
  border-radius:15px 20px 17px 25px;
  position:absolute;
}
.jiggyDancer {
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.steppingDancer {
  border:10px solid orange;
  border-radius:10px;
  position:absolute;
}
.careltonDancer {
  width: 100px;
  height: 150px;
  position: absolute;
  /*background-image: url('http://giphy.com/gifs/smallworlds-lF1XZv45kIwMw');*/
  z-index: 0;
}

.nav {
  float: right;
  display: inline;
  text-align: right;
  margin: auto 0;
}
ul {
  list-style-type: none;
}
ul.nav>li {
  display: inline;
}
ul.sub-nav {
  display: none;
  background-color: #555;
  text-align: left;
  width: 150px;
  height: 300px;
  visibility: hidden;
}
ul li:hover ul {
  display: block;
  visibility: visible;
}

